html{
    box-sizing: border-box;

}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.hero {
    position: relative;
    background-image: url(https://picsum.photos/1440/1000);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    width: 100%;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 0;
}


.header {
    position: relative;
    height: 80px;
    background: #00000033;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    z-index: 1;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #D4A373;
}

.logo span {
    color: white;
}

.nav-links ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0; 
    padding: 0;     
}

.nav-links ul li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    text-decoration: none; 
    color: white; 
    padding: 5px 10px; 
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    color: #D4A373; /* Add hover effect */
}

/* Hero Content */
.hero-content {
    position: relative;
    display: flex; /* Flexbox layout */
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    max-width: 700px; 
    width: 90%; 
    padding: 1rem; 
    margin: 10% auto; /* Center with vertical margin */
    height: auto; 
    text-align: center; 
    color: white;
    z-index: 1;
}

.hero-content h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    max-width: 400px;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.hero-content hr {
    border: 1px solid white;
    height: 1px;
    width: 100px;
    margin: 1.5rem 0;
}

.scroll-to {
    padding: 10px 50px;
    border: 1px solid #D4A373;
    text-decoration: none;
    color: #FFFFFF;
    background: transparent;
    transition: background-color 0.3s;
}

.scroll-to:hover {
    background-color: #D4A373;
    color: white;
}


@media (max-width: 768px) {
    .hero {
        height: auto; 
        
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 0.9rem;
    }

    .scroll-to {
        padding: 10px 30px; /* Smaller padding for buttons */
        font-size: 0.9rem;
    }

    /*.header {
        flex-direction: column;
        align-items: center;
    } */

    .nav-links ul {
        /*flex-direction: column;*/
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 0.8rem;
    }

    .scroll-to {
        padding: 8px 20px;
        font-size: 0.8rem;
    }

    .nav-links ul {
        gap: 8px;
    }
}

.articles{
    margin: 50px auto 0;
    width: 95%;
    
}
.heading-title{
    text-align: center;
    padding-bottom: 50px;
}
.heading-title h1{
    padding-bottom: 10px;
}
.article-nav ul{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    list-style-type: none;
    margin: 0; 
    padding: 25px;     
}
.article-nav ul li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    text-decoration: none; 
    color: black;  
    transition: color 0.3s ease;
    font-weight: bold;
}
.blog-cards{
    margin-top: 50px;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
    padding: 0;
    margin: auto;
    width: 100%;
}
.cards{
    background: #EFEFEF;
    width: 310px;
    height: 475px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    overflow: hidden; 


}
.cards img{
    width: 310px;
    height: 280px;
    border-radius: 10px 10px 0 0;
}

.cards .card-text {
    padding: 20px; 
}

.cards .card-text h4 {
    margin: 10px 0; 
    font-size: 18px;
}

.cards .card-text p {
    margin: 5px 0; 
    font-size: 12px;
}

.sign-in{
    background-color:
}

/* footer */
footer{
    background-color: #212529;
    font-family: 'Lora', serif;
    color:#FFFFFF;
    
    
}
.footer-main{
    padding: 80px 75px;
    display: flex;
    justify-content: flex-start;
    gap: 150px;
}
.footer-column h3{
    font-size: 18px;
}
.footer-column ul{
    
    list-style-type: none;
    margin: 0; 
    padding: 0;     
}

.footer-column ul li{
    padding-top: 20px;
}

.footer-column ul li a {
    font-size: 12px;
    text-decoration: none; 
    color: #FFFFFF;
    
    
    
}
.footer-row{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #343A40;
    font-size: 14px;
}
.footer-row a{
    text-decoration: none;
    color: #FFFFFF;
    
    
}
.footer-column p{
    padding-top: 20px;
    font-size: 12px;
}
@media (max-width: 768px) {
    .footer-main {
        justify-content: center; 
        gap: 30px; 
    }

    .footer-column {
        flex: 1 1 100%; 
        text-align: center; 
    }

    .footer-row {
        
        padding: 10px 20px;
    }
}
@media (max-width: 480px) {
    .footer-main {
        padding: 20px; 
        gap: 20px; 
        flex-wrap: wrap;
    }

    .footer-column h3 {
        font-size: 18px; 
    }

    .footer-column ul li a {
        font-size: 12px; 
    }

    .footer-row {
        font-size: 12px; 
        padding: 10px 20px;
    }
}